@import 'colors.scss';
@import 'fonts.scss';

html, body {
    height: 100%;
    margin: 0 auto;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color:#a5a6a6;
}

.mat-toolbar.mat-primary {
    background: $secundary;
    color: #fff;

    .example-spacer {
        flex: 1 1 auto;
    }

    .title-tolbar{
        font-family: 'Trocchi', serif;
        font-size: 35px;
        font-weight: normal;
        line-height: 48px;
        margin: 0;
    }
}

.mat-grid-tile-content{
    align-items: start !important;
}


