<div class="card-student">
    <div class="card">
        <div class="icon">
            <ul>
                <li><img src="./assets/icons/user-icon.png" height="90" width="90"></li>
                <li><span class="name">{{studentData}}</span></li>
            </ul>

        </div>
        <div class="text">
            <h4 >Datos del Estudiante:</h4>
            <ul class="list1">
                <li><b>Codigo:</b>102020</li>
                <li><b>Grupos:</b>   AB</li>
                <li><b>Correo:</b>   aitor@google.com</li>
                <li><b>Telefono:</b>  345346-54</li>
                <li style="margin-top: 5px;"><b>Cursos:</b>  Algebra, Matematicas, Español</li>
            </ul>

        </div>
    </div>
</div>
