<div class="contenedor-info">
    <button mat-icon-button class="btn-info">
        <mat-icon>edit</mat-icon>
    </button>
    <div class="title-info">
        <h2 class="title">Datos del Estudiante</h2>
    </div>
    <div class="box-info">
        <ul class="field-info">
            <li>
                <h4 class="field-title">Nombre</h4>
                <p class="field-atribute">{{GetviewInfoModal.first_name}} {{GetviewInfoModal.last_name}}</p>
            </li>
            <li>
                <h4 class="field-title">Codigo</h4>
                <p class="field-atribute">{{GetviewInfoModal.code}}</p>
            </li>
            <li>
                <h4 class="field-title">Grupo</h4>
                <p class="field-atribute">{{GetviewInfoModal.group}}</p>
            </li>
            <li>
                <h4 class="field-title">Correo</h4>
                <p class="field-atribute">{{GetviewInfoModal.email}}</p>
            </li>
            <li>
                <h4 class="field-title">Telefono</h4>
                <p class="field-atribute" >{{GetviewInfoModal.phone_number}}</p>
            </li>
            <li>
                <h4 class="field-title">Estatus</h4>
                <p class="field-atribute">{{GetviewInfoModal.status}}</p>
            </li>
        </ul>
    </div>
</div>


