<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title-tolbar">{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="containert-students">
  <div class="sections">
    <div class="left">
      <app-student [studentData] ="student" *ngFor="let student of students" (studentClicked)="viewInfoModal(student)"></app-student>
    </div>
    <div class="ringh">
      <div class="info-estudent">
        <app-info-modal [GetviewInfoModal] ="viewStudent" ></app-info-modal>
      </div>
      <h4 class="title">Cursos</h4>
      <div class="course-student">
        <div class="add-course">
          <div class="box-course">
            <app-add-course></app-add-course>
          </div>
        </div>
        <div class="remove-course">
          <div class="box-course">
            <app-remove-course></app-remove-course>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
